{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/typo.css' %}">
    <title>演员</title>
</head>

<body>

    <script src="https://www.unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://www.unpkg.com/element-ui@2.15.6/lib/index.js"></script>
<div id="app" class="typo typo-selection">
  <el-backtop :bottom="100" :visibility-height="50"></el-backtop>
    <el-container>
              <el-header>
                <span>
                    <a href="/login">返回
                    <i class="el-icon-back el-icon--right"></i>
                    </a>
                </span>
            /
            <span class="el-dropdown-link">
                <a href="/login/userPage/">我的订阅
                    <i class="el-icon-arrow-down el-icon--right"></i>
                </a>
            </span>
            /
            <span>欢迎  {{ request.session.userName }}  !</span>
            /
            <a href="/login/logout/" class="text-success">
                <ins>注销</ins>
            </a>
        </el-header>

        <el-container>
            <el-aside width="200px">
                <el-row class="tac">
                    <el-menu
                            default-active="1"
                            class="el-menu-vertical-demo"
                            @open="handleOpen"
                            @close="handleClose">
                        <el-menu-item index="1">
                            <a href="/login/movieList/" class="text-success">
                                <i class="el-icon-location"></i>
                                <span slot="title">电影</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <a href="/login/actorList/" class="text-success">
                                <i class="el-icon-menu"></i>
                                <span slot="title">演员</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <a href="/login/directorList/" class="text-success">
                                <i class="el-icon-document"></i>
                                <span slot="title">导演</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <a href="/login/companyList/" class="text-success">
                                <i class="el-icon-setting"></i>
                                <span slot="title">公司</span>
                            </a>
                        </el-menu-item>
                    </el-menu>
                    </el-col>
                </el-row>
            </el-aside>
            <el-main>
                <h1>{{ result.actorName }}</h1>
                <div id="headline">
                    <div class="pic">
                        <img src="{{ result.actorPhoto }}" alt="wrong">
                    </div>

                    <div class="info">
                        <ul>
                            <li>
                                <span>年龄:</span> {{ result.actorAge }}
                            </li>
                            <li>
                                <span>出生地:</span> {{ result.actorBir }}
                            </li>
                        </ul>

                    </div>
                </div>
            <div class="subscribe">
                <a href="/login/actor/?type=loveActor&id={{ result.id }}">
                    <el-button type="success" icon="el-icon-check">订阅</el-button>
                </a>
                <a href="/login/actor/?type=deLoveActor&id={{ result.id }}">
                    <el-button type="warning" icon="el-icon-close">退订</el-button>
                </a>
            </div>
                <div>
                    <h1>代表作</h1>
                    <table>
                        <thead>
                        <tr>
                            <th>电影名</th>
                            <th>上映日期</th>
                            <th>风格</th>
                            <th>获奖</th>
                            <th>制作成本</th>
                            <th>封面</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in movies %}
                            <tr>
                                <td>
                                    <a href="/login/movie/?id={{ line.id }}">
                                        <ins>{{ line.movieName }}</ins>
                                    </a>
                                </td>
                                <td>{{ line.movieDate }}</td>
                                <td>{{ line.movieStyle }}</td>
                                <td>{{ line.movieWard }}</td>
                                <td>{{ line.movieCost }}</td>
                                <td><img src="{{ line.moviePhoto }}" alt=""></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>

</div>

<script>
    new Vue().$mount('#app')
</script>
</body>
</html>