{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/typo.css' %}">
    <title>导演列表</title>
</head>

<body>


    <script src="https://www.unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://www.unpkg.com/element-ui@2.15.6/lib/index.js"></script>
<div id="app" class="typo typo-selection">
  <el-backtop :bottom="100" :visibility-height="50"></el-backtop>
    <el-container>
              <el-header>
            <div class="head-right">
                <span>欢迎  {{ request.session.userName }}  !</span>
                /
                <el-dropdown>
                 <span class="el-dropdown-link">
                    <img class="head-small" src="{% static "login/image/headimg.jpg" %}"/>

                     <i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item icon="el-icon-s-custom">
                            <a href="/login/userPage/">个人页面
                            </a>
                        </el-dropdown-item>
                        <el-dropdown-item icon="el-icon-more">
                            <a href="/login/userInfo/" class="text-success">
                                <ins>编辑信息</ins>
                            </a>
                        </el-dropdown-item>
                        <el-dropdown-item icon="el-icon-error" divided>
                            <a href="/login/logout/" class="text-success">
                                <ins>注销</ins>
                            </a>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>

            <form class="head-left" action="/login/allList/" method="post">
                {% csrf_token %}
                <a class="special-a" href="/login">
                    <img class="head-middle" src="{% static "login/image/head3.jpg" %}"/>
                </a>
                {#                <img class="head-middle" src="{% static "login/image/head3.jpg" %}"/>#}
                <input size="40" maxlength="60" class="mytxt" type="text" placeholder="搜索电影、演员、导演、影人" name="name"
                       id="reviewGrade"/>
                <el-button icon="el-icon-search" onclick="this.form.submit()" circle></el-button>
            </form>
        </el-header>

        <el-container>
            <el-aside width="200px">
                <el-row class="tac">
                    <el-menu
                            default-active="1"
                            class="el-menu-vertical-demo"
                            @open="handleOpen"
                            @close="handleClose">
                        <el-menu-item index="1">
                            <a href="/login/movieList/" class="text-success">
                                <i class="el-icon-location"></i>
                                <span slot="title">电影</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <a href="/login/actorList/" class="text-success">
                                <i class="el-icon-menu"></i>
                                <span slot="title">演员</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <a href="/login/directorList/" class="text-success">
                                <i class="el-icon-document"></i>
                                <span slot="title">导演</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <a href="/login/companyList/" class="text-success">
                                <i class="el-icon-setting"></i>
                                <span slot="title">公司</span>
                            </a>
                        </el-menu-item>
                    </el-menu>
                    </el-col>
                </el-row>
            </el-aside>
            <el-main>
                <h1>电影列表</h1>
                <div class="list">
                    {% for line in movies %}

                        <a class="item" href="/login/movie/?id={{ line.id }}">
                            <div class="cover-wp">
                                <img src="{{ line.moviePhoto }}" alt="a photo">
                            </div>
                            <p>{{ line.movieName }}</p>
                        </a>

                    {% endfor %}
                </div>
                <h1>演员列表</h1>
                    <div class="list">
                        {% for line in actors %}

                            <a class="item" href="/login/actor/?id={{ line.id }}">
                                <div class="cover-wp">
                                    <img src="{{ line.actorPhoto }}" alt="a photo">
                                </div>
                                <p>{{ line.actorName }}</p>
                            </a>

                        {% endfor %}
                    </div>

                <h1>导演列表</h1>
                <div class="list">
                    {% for line in directors %}
                <a class="item" href="/login/director/?id={{ line.id }}">
                <div class="cover-wp">
                    <img src="{{ line.directorPhoto }}" alt="a photo">
                </div>
                <p>{{ line.directorName }}</p>
                </a>

                    {% endfor %}
                </div>
            <h1>公司列表</h1>
                <table>
                    <thead>
                    <tr>
                        <th>公司名</th>
                        <th>公司所在地</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for line in companies %}
                        <tr>
                            <td>
                                <a href="/login/company/?id={{ line.id }}">
                                    <ins>{{ line.companyName }}</ins>
                                </a>
                            </td>
                            <td>{{ line.companyAddr }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </el-main>
        </el-container>
    </el-container>
</div>

<script>
    new Vue().$mount('#app')
</script>


</body>
</html>