<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司</title>
</head>
<body>
<a href="/index/" class="text-success "><ins>返回</ins></a>

<form class="form-login" action="/companyList/" method="post">
    {% csrf_token %}
    <input type="text" name="companyName"/>
    <input type="submit" value="查询"/>
</form>

<table border="1">
    <thead>
    <td>ID</td>
    <td>用户名</td>
    <td>密码</td>
    {% for line in result %}
        <tr>
            <td>{{ line.companyName }}</td>
            <td>{{ line.movie }}</td>
            <td>{{ line.2 }}</td>
        </tr>
    {% endfor %}
    </thead>
</table>
</body>
</html>