{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/login/" class="text-success "><ins>返回</ins></a>
<h1>{{ result.companyName }}</h1>
<div>
    <h5>{{ result.companyAddr }}</h5>
    <h1>代表作</h1>
    <table border="1">
    <thead>
            <td>电影名</td>
            <td>上映日期</td>
            <td>风格</td>
            <td>获奖</td>
            <td>制作成本</td>
            <td>封面</td>
            {% for line in movies %}
                <tr>
                    <td>
                        <a href="/login/movie/?id={{ line.id }}"><ins>{{ line.movieName }}</ins></a>
                    </td>
                    <td>{{ line.movieDate }}</td>
                    <td>{{ line.movieStyle }}</td>
                    <td>{{ line.movieWard }}</td>
                    <td>{{ line.movieCost }}</td>
                    <td><img src="{% static line.moviePhoto %}" alt=""></td>
                </tr>
            {% endfor %}
    </thead>
</table>
</div>
</body>
</html>