{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司</title>
</head>
<body>
<a href="/login/" class="text-success "><ins>返回</ins></a>

<form class="form-login" action="" method="post">
    {% csrf_token %}
    <input type="text" name="companyName"/>
    <input type="submit" value="查询"/>
</form>

<table border="1">
    <thead>
    <td>公司名</td>
    <td>公司所在地</td>
    {% for line in result %}
        <tr>
            <td>
                <a href="/login/company/?id={{ line.id }}"><ins>{{ line.companyName }}</ins></a>
            </td>
            <td>{{ line.companyAddr }}</td>
        </tr>
    {% endfor %}
    </thead>
</table>
</body>
</html>