{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/typo.css' %}">
    <title>公司</title>
</head>

<body>


<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui@2.15.7/lib/index.js"></script>
<div id="app" class="typo typo-selection">
    <el-container>
        <el-header>
                <span>
                    <a href="/login">返回
                    <i class="el-icon-back el-icon--right"></i>
                    </a>
                </span>
            <el-dropdown>

                <span class="el-dropdown-link">我的订阅
                    <i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>
                        <a href="/login/movieList/" class="text-success">电影</a>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <a href="/login/actorList/" class="text-success">演员</a>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <a href="/login/directorList/" class="text-success">导演</a>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <a href="/login/companyList/" class="text-success">公司</a>
                    </el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>

            <span>欢迎  {{ request.session.userName }}  !</span>
            <a href="/login/logout/" class="text-success">
                <ins>注销</ins>
            </a>
        </el-header>

        <el-container>
            <el-aside width="200px">Aside</el-aside>
            <el-main>
                <h1>{{ result.companyName }}</h1>
                <h5>公司地址: {{ result.companyAddr }}</h5>
                <div>
                    <h1>代表作</h1>
                    <table>
                        <thead>
                        <tr>
                            <th>电影名</th>
                            <th>上映日期</th>
                            <th>风格</th>
                            <th>获奖</th>
                            <th>制作成本</th>
                            <th>封面</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in movies %}
                            <tr>
                                <td>
                                    <a href="/login/movie/?id={{ line.id }}">
                                        <ins>{{ line.movieName }}</ins>
                                    </a>
                                </td>
                                <td>{{ line.movieDate }}</td>
                                <td>{{ line.movieStyle }}</td>
                                <td>{{ line.movieWard }}</td>
                                <td>{{ line.movieCost }}</td>
                                <td><img src="{% static line.moviePhoto %}" alt=""></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>

<script>
    new Vue().$mount('#app')
</script>

</body>
</html>