{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导演</title>
</head>
<body>
<a href="/login/" class="text-success "><ins>返回</ins></a>

<form class="form-login" action="" method="post">
    {% csrf_token %}
    <input type="text" name="directorName"/>
    <input type="submit" value="查询"/>
</form>

<table border="1">
    <thead>
            <td>姓名</td>
            <td>年龄</td>
            <td>出生地</td>
            <td>照片</td>
            {% for line in result %}
                <tr>
                    <td>
                        <a href="/login/director/?id={{ line.id }}"><ins>{{ line.directorName }}</ins></a>
                    </td>
                    <td>{{ line.directorAge }}</td>
                    <td>{{ line.directorBir }}</td>
                    <td><img src="{% static line.directorPhoto %}" alt=""></td>
                </tr>
            {% endfor %}
    </thead>
</table>
</body>
</html>