<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>

<body>

<div>
    <a>欢迎 {{ request.session.userName }} !</a>
    <a href="/logout/" class="text-success"><ins>注销</ins></a>
</div>

<div>
    <a href="/movieList/" class="text-success "><ins>电影</ins></a>

    <a href="/actorList/" class="text-success "><ins>演员</ins></a>

    <a href="/directorList/" class="text-success "><ins>导演</ins></a>

    <a href="/companyList/" class="text-success "><ins>公司</ins></a>
</div>

<div>
    <h1>喜欢的电影</h1>
    <table>
        <thead>
            <td>电影名</td>
            <td>上映日期</td>
            <td>密码</td>
            {% for line in loveMovies %}
                <tr>
                    <td>{{ line.movieName }}</td>
                    <td>{{ line.movieDate }}</td>
                    <td>{{ line.2 }}</td>
                </tr>
            {% endfor %}
        </thead>
    </table>
</div>

<div>
    <h1>喜欢的演员</h1>
    <table>
        <thead>
            <td>姓名</td>
            <td>年龄</td>
            <td>密码</td>
            {% for line in loveActors %}
                <tr>
                    <td>{{ line.actorName }}</td>
                    <td>{{ line.actorAge }}</td>
                    <td>{{ line.2 }}</td>
                </tr>
            {% endfor %}
        </thead>
    </table>
</div>

<div>
    <h1>喜欢的导演</h1>
    <table>
        <thead>
            <td>姓名</td>
            <td>年龄</td>
            <td>密码</td>
            {% for line in loveDirectors %}
                <tr>
                    <td>{{ line.directorName }}</td>
                    <td>{{ line.directorAge }}</td>
                    <td>{{ line.2 }}</td>
                </tr>
            {% endfor %}
        </thead>
    </table>
</div>

</body>
</html>