{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/typo.css' %}">
    <title>首页</title>
</head>

<body>


    <script src="https://www.unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://www.unpkg.com/element-ui@2.15.6/lib/index.js"></script>
<div id="app" class="typo typo-selection">
  <el-backtop :bottom="100" :visibility-height="50"></el-backtop>

    <a href="/login/userPage/"><ins>个人页面</ins></a>

    <el-container>
        <el-header>
            <el-dropdown>
                    <span class="el-dropdown-link">我的订阅
                    <i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>
                        <a href="/login/movieList/" class="text-success">电影</a>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <a href="/login/actorList/" class="text-success">演员</a>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <a href="/login/directorList/" class="text-success">导演</a>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <a href="/login/companyList/" class="text-success">公司</a>
                    </el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>

            <span>欢迎  {{ request.session.userName }}  !</span>
            <a href="/login/logout/" class="text-success">
                <ins>注销</ins>
            </a>
        </el-header>

        <el-container>
            <el-aside width="200px">Aside</el-aside>
            <el-main>

                <div>
                    <h1>电影推荐</h1>
                    <table>
                        <thead>
                        <tr>
                            <th>电影名</th>
                            <th>上映日期</th>
                            <th>风格</th>
                            <th>获奖</th>
                            <th>封面</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in recMovies %}
                            <tr>
                                <td>
                                    <a href="/login/movie/?id={{ line.id }}">
                                        <ins>{{ line.movieName }}</ins>
                                    </a>
                                </td>
                                <td>{{ line.movieDate }}</td>
                                <td>{{ line.movieStyle }}</td>
                                <td>{{ line.movieWard }}</td>
                                <td><img src="{{  line.moviePhoto }}" alt=""></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div>
                    <h1>演员推荐</h1>
                    <table>
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>年龄</th>
                            <th>出生地</th>
                            <th>照片</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in recActors %}
                            <tr>
                                <td>
                                    <a href="/login/actor/?id={{ line.id }}">
                                        <ins>{{ line.actorName }}</ins>
                                    </a>
                                </td>
                                <td>{{ line.actorAge }}</td>
                                <td>{{ line.actorBir }}</td>
                                <td><img src="{{ line.actorPhoto }}" alt=""></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <h1>导演推荐</h1>
                    <table>
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>年龄</th>
                            <th>出生地</th>
                            <th>照片</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in recDirectors %}
                            <tr>
                                <td>
                                    <a href="/login/director/?id={{ line.id }}">
                                        <ins>{{ line.directorName }}</ins>
                                    </a>
                                </td>
                                <td>{{ line.directorAge }}</td>
                                <td>{{ line.directorBir }}</td>
                                <td><img src="{{ line.directorPhoto }}" alt=""></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>

<script>
    new Vue().$mount('#app')
</script>
</body>
</html>