{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/typo.css' %}">
    <title>电影</title>
</head>

<body>

    <script src="https://www.unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://www.unpkg.com/element-ui@2.15.6/lib/index.js"></script>
<div id="app" class="typo typo-selection">
  <el-backtop :bottom="100" :visibility-height="50"></el-backtop>
    <el-container>
        <el-header>
                <span>
                    <a href="/login">返回
                    <i class="el-icon-back el-icon--right"></i>
                    </a>
                </span>
            <el-dropdown>

                <span class="el-dropdown-link">我的订阅
                    <i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>
                        <a href="/login/movieList/" class="text-success">电影</a>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <a href="/login/actorList/" class="text-success">演员</a>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <a href="/login/directorList/" class="text-success">导演</a>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <a href="/login/companyList/" class="text-success">公司</a>
                    </el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>

            <span>欢迎  {{ request.session.userName }}  !</span>
            <a href="/login/logout/" class="text-success">
                <ins>注销</ins>
            </a>
        </el-header>

        <el-container>
            <el-aside width="200px">Aside</el-aside>
            <el-main>
                <h1>{{ result.movieName }}</h1>
                <div id="headline">
                    <div class="pic">
                        <img src="{{ result.moviePhoto }}" alt="wrong">
                    </div>

                    <div class="info">
                        <ul>
                            <li>
                                <span>导演:</span>
                                {% for line in directors %}
                                    <a href="/login/director/?id={{ line.id }}">{{ line.directorName }}</a>
                                {% endfor %}
                            </li>
                            <li>
                                <span>主演:</span>
                                {% for line in actors %}
                                    <a href="/login/actor/?id={{ line.id }}">{{ line.actorName }}</a>
                                {% endfor %}
                            </li>
                            <li>
                                <span>介绍:</span>{{ result.movieIntroduction }}
                            </li>
                            <li>
                                <span>上映日期:</span>{{ result.movieDate }}
                            </li>
                            <li>
                                <span>电影风格:</span>{{ result.movieStyle }}
                            </li>
                            <li>
                                <span>电影奖项:</span>{{ result.movieWard }}
                            </li>
                            <li>
                                <span>电影公司:</span>
                                <a href="/login/company/?id={{ result.movieCompany_id }}">
                                    <ins>{{ result.movieCompany.companyName }}</ins>
                                </a>
                            </li>


                        </ul>

                    </div>
                </div>
                <div class="subscribe">
                    <a href="/login/movie/?type=loveMovie&id={{ result.id }}">
                        <el-button type="success" icon="el-icon-check">订阅</el-button>
                    </a>
                    <a href="/login/movie/?type=deLoveMovie&id={{ result.id }}">
                        <el-button type="warning" icon="el-icon-close">退订</el-button>
                    </a>
                </div>
                <div>
                    <div class="commentin">
                        {% if message %}
                            <div class="alert alert-warning">{{ message }}</div>
                        {% endif %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <label for="reviewGrade">请打分：</label>
                            <input type="text" name="reviewGrade" id="reviewGrade"/>
                            <label for="reviewString">请评论：</label>
                            <input type="text" name="reviewString" id="reviewString"/>
                            <input type="submit" value="提交"/>
                        </form>
                    </div>
                    {% for line in reviews %}
                        <div class="commentout">
                            <h5>评论者:{{ line.reviewedAuthor_id }}</h5>
                            <h5>评论日期:{{ line.reviewDate }}</h5>
                            <h5>打分:{{ line.reviewGrade }}</h5>
                            <h5>评论内容:</h5>
                            <p>{{ line.reviewString }}</p>
                        </div>
                    {% endfor %}
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>


<script>
    new Vue().$mount('#app')
</script>


</body>


</html>