{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影</title>
</head>
<body>
<a href="/index/" class="text-success "><ins>返回</ins></a>

<form class="form-login" action="/movieList/" method="post">
    {% csrf_token %}
    <input type="text" name="movieName"/>
    <input type="submit" value="查询"/>
</form>

<table border="1">
    <thead>
    <td>ID</td>
    <td>用户名</td>
    <td>密码</td>
    {% for line in result %}
        <tr>
            <td>
                <a href="/movie/?id={{ line.id }}"><ins>{{ line.movieName }}</ins></a>
            </td>
            <td>{{ line.1 }}</td>
            <td>{{ line.2 }}</td>
        </tr>
    {% endfor %}
    </thead>
</table>
</body>
</html>