{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影</title>
</head>
<body>
<a href="/login/" class="text-success "><ins>返回</ins></a>

<form class="form-login" action="" method="post">
    {% csrf_token %}
    <input type="text" name="movieName"/>
    <input type="submit" value="查询"/>
</form>

<table border="1">
    <thead>
            <td>电影名</td>
            <td>上映日期</td>
            <td>风格</td>
            <td>获奖</td>
            <td>制作成本</td>
            <td>封面</td>
            {% for line in result %}
                <tr>
                    <td>
                        <a href="/login/movie/?id={{ line.id }}"><ins>{{ line.movieName }}</ins></a>
                    </td>
                    <td>{{ line.movieDate }}</td>
                    <td>{{ line.movieStyle }}</td>
                    <td>{{ line.movieWard }}</td>
                    <td>{{ line.movieCost }}</td>
                    <td><img src="{% static line.moviePhoto %}" alt=""></td>
                </tr>
            {% endfor %}
    </thead>
</table>
</body>
</html>