{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/typo.css' %}">
    <title>首页</title>
</head>

<body>


<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui@2.15.7/lib/index.js"></script>
<div id="app" class="typo typo-selection">

    <a href="/login/"><ins>主页面</ins></a>

    <el-container>
        <el-header>
            <el-dropdown>
                    <span class="el-dropdown-link">我的订阅
                    <i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>
                        <a href="/login/movieList/" class="text-success">电影</a>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <a href="/login/actorList/" class="text-success">演员</a>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <a href="/login/directorList/" class="text-success">导演</a>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <a href="/login/companyList/" class="text-success">公司</a>
                    </el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>

            <span>欢迎  {{ request.session.userName }}  !</span>
            <a href="/login/logout/" class="text-success">
                <ins>注销</ins>
            </a>
        </el-header>

        <el-container>
            <el-aside width="200px">Aside</el-aside>
            <el-main>

                <div>
                    <h1>喜欢的电影</h1>
                    <table>
                        <thead>
                        <tr>
                            <td>电影名</td>
                            <td>上映日期</td>
                            <td>风格</td>
                            <td>获奖</td>
                            <td>制作成本</td>
                            <td>封面</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in loveMovies %}
                            <tr>
                                <td>
                                    <a href="/login/movie/?id={{ line.id }}">
                                        <ins>{{ line.movieName }}</ins>
                                    </a>
                                </td>
                                <td>{{ line.movieDate }}</td>
                                <td>{{ line.movieStyle }}</td>
                                <td>{{ line.movieWard }}</td>
                                <td>{{ line.movieCost }}</td>
                                <td><img src="{{ line.moviePhoto }}" alt=""></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <h1>喜欢的演员</h1>
                    <table>
                        <thead>
                        <tr>
                            <td>姓名</td>
                            <td>年龄</td>
                            <td>出生地</td>
                            <td>照片</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in loveActors %}
                            <tr>
                                <td>
                                    <a href="/login/actor/?id={{ line.id }}">
                                        <ins>{{ line.actorName }}</ins>
                                    </a>
                                </td>
                                <td>{{ line.actorAge }}</td>
                                <td>{{ line.actorBir }}</td>
                                <td><img src="{{ line.actorPhoto }}" alt=""></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <h1>喜欢的导演</h1>
                    <table>
                        <thead>
                        <tr>
                            <td>姓名</td>
                            <td>年龄</td>
                            <td>出生地</td>
                            <td>照片</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in loveDirectors %}
                            <tr>
                                <td>
                                    <a href="/login/director/?id={{ line.id }}">
                                        <ins>{{ line.directorName }}</ins>
                                    </a>
                                </td>
                                <td>{{ line.directorAge }}</td>
                                <td>{{ line.directorBir }}</td>
                                <td><img src="{{ line.directorPhoto }}" alt=""></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
{% for line in reviews %}
                        <div class="commentout">
                            <h5>评论者:{{ line.reviewedAuthor_id }}</h5>
                            <h5>评论日期:{{ line.reviewDate }}</h5>
                            <h5>打分:{{ line.reviewGrade }}</h5>
                            <h5>评论内容:</h5>
                            <p>{{ line.reviewString }}</p>
                            <a href="/login/movie/?id={{ line.reviewedMovie_id }}">
                                    <ins>查看电影详情</ins>
                            </a>
                            <a href="/login/userPage/?type=deleteReview&reviewId={{ line.id }}"><ins>删除</ins></a>
                        </div>
                    {% endfor %}
<script>
    new Vue().$mount('#app')
</script>
</body>
</html>