{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.unpkg.com/element-ui@2.15.6/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/typo.css' %}">
    <title>首页</title>
</head>

<body>


    <script src="https://www.unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://www.unpkg.com/element-ui@2.15.6/lib/index.js"></script>
<div id="app" class="typo typo-selection">

    <el-container>
                    <el-header>
                <span>
                    <a href="/login/">返回主页
                    <i class="el-icon-back el-icon--right"></i>
                    </a>
                </span>

            /
            <span>欢迎  {{ request.session.userName }}  !</span>
            /
            <a href="/login/logout/" class="text-success">
                <ins>注销</ins>
            </a>
        </el-header>

        <el-container>
            <el-aside width="200px">
                <el-row class="tac">
                    <el-menu
                            default-active="1"
                            class="el-menu-vertical-demo"
                            @open="handleOpen"
                            @close="handleClose">
                        <el-menu-item index="1">
                            <a href="/login/movieList/" class="text-success">
                                <i class="el-icon-location"></i>
                                <span slot="title">电影</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <a href="/login/actorList/" class="text-success">
                                <i class="el-icon-menu"></i>
                                <span slot="title">演员</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <a href="/login/directorList/" class="text-success">
                                <i class="el-icon-document"></i>
                                <span slot="title">导演</span>
                            </a>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <a href="/login/companyList/" class="text-success">
                                <i class="el-icon-setting"></i>
                                <span slot="title">公司</span>
                            </a>
                        </el-menu-item>
                    </el-menu>
                    </el-col>
                </el-row>
            </el-aside>
            <el-main>

                <div>
                    <h1>喜欢的电影</h1>
                    <table>
                        <thead>
                        <tr>
                            <td>电影名</td>
                            <td>上映日期</td>
                            <td>风格</td>
                            <td>获奖</td>
                            <td>制作成本</td>
                            <td>封面</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in loveMovies %}
                            <tr>
                                <td>
                                    <a href="/login/movie/?id={{ line.id }}">
                                        <ins>{{ line.movieName }}</ins>
                                    </a>
                                </td>
                                <td>{{ line.movieDate }}</td>
                                <td>{{ line.movieStyle }}</td>
                                <td>{{ line.movieWard }}</td>
                                <td>{{ line.movieCost }}</td>
                                <td><img src="{{ line.moviePhoto }}" alt=""></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <h1>喜欢的演员</h1>
                    <table>
                        <thead>
                        <tr>
                            <td>姓名</td>
                            <td>年龄</td>
                            <td>出生地</td>
                            <td>照片</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in loveActors %}
                            <tr>
                                <td>
                                    <a href="/login/actor/?id={{ line.id }}">
                                        <ins>{{ line.actorName }}</ins>
                                    </a>
                                </td>
                                <td>{{ line.actorAge }}</td>
                                <td>{{ line.actorBir }}</td>
                                <td><img src="{{ line.actorPhoto }}" alt=""></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <h1>喜欢的导演</h1>
                    <table>
                        <thead>
                        <tr>
                            <td>姓名</td>
                            <td>年龄</td>
                            <td>出生地</td>
                            <td>照片</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for line in loveDirectors %}
                            <tr>
                                <td>
                                    <a href="/login/director/?id={{ line.id }}">
                                        <ins>{{ line.directorName }}</ins>
                                    </a>
                                </td>
                                <td>{{ line.directorAge }}</td>
                                <td>{{ line.directorBir }}</td>
                                <td><img src="{{ line.directorPhoto }}" alt=""></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
{% for line in reviews %}
                        <div class="commentout">
                            <h5>评论者:{{ line.reviewedAuthor_id }}</h5>
                            <h5>评论日期:{{ line.reviewDate }}</h5>
                            <h5>打分:{{ line.reviewGrade }}</h5>
                            <h5>评论内容:</h5>
                            <p>{{ line.reviewString }}</p>
                            <a href="/login/movie/?id={{ line.reviewedMovie_id }}">
                                    <ins>查看电影详情</ins>
                            </a>
                            <a href="/login/userPage/?type=deleteReview&reviewId={{ line.id }}"><ins>删除</ins></a>
                        </div>
                    {% endfor %}
<script>
    new Vue().$mount('#app')
</script>
</body>
</html>