body {
    height: 100%;
    /*background-image: url('../image/bg.png');*/
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-login {
    margin-top: 80px;
    font-weight: 400;
}

.form-login .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;

}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

form a {
    display: inline-block;
    margin-top: 25px;
    font-size: 12px;
    line-height: 10px;
}

.el-header,
.el-footer {
    /*background-color: #B3C0D1;*/
    color: #fff;
    text-align: right;
    font-size: 14px;
    line-height: 60px;
    background-color: #545c64;
    text-color: #fff;
    active-text-color: #ffd04b;
}

.el-aside {
    /*background-color: #545c64;*/
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-dropdown {
    color: #fff
}

.el-main {
    background-color: #fff;
    color: #333;
    text-align: left;
    line-height: 20px;
}

.el-icon-setting {
    margin-right: 15px;
}

a {
    text-decoration: none;
    /* 去除默认的下划线 */
    outline: none;
    /* 去除旧版浏览器的点击后的外虚线框 */
    color: #000;
    /* 去除默认的颜色和点击后变化的颜色 */
}

.info li span {
    color: #666666;
}

img {
    max-width: 100%;
}

#headline {
    overflow: hidden;
}

#headline img {
    width: 135px;
}

#headline ul {
    list-style: none;
}

.subscribe {
    margin-top: 20px;
}

.pic, .info {
    float: left;
}

.commentin, .commentout {
    margin-top: 20px;
}

.commentout {
    border-color: #666666;
    border-style: solid;
}

/*.pic img {
    width: 115px;
}*/

.list {
    width: 1000px;
    overflow: auto;
}

.item {
    font-size: 13px;
    text-align: center;
    margin: 0 25px 10px 0;
    width: 150px;
    float: left;
}

.item p {
    margin: 5px 0 0;
    height: 44px;
    overflow: hidden;
}

.cover-wp {
    position: relative;
    height: 210px;
    overflow: hidden;
}

.inp {
    float: left;
    width: 470px;
    height: 34px;
    text-align: center;
}

.inp input {
    text-align: left;
    height: 30px;
    width: 96%;
    background: white;
    padding-left: 10px;
    outline: none;
}

.inp-btn {
    position: relative;
    left: -1px;
    width: 37px;
    height: 34px;
    zoom: 1;
    overflow: hidden;
}

input {
    margin-right: 3px;
}

.inp-btn input {
    height: 100%;
    width: 100%;
    /*padding: 35px 0 0 0;*/
    /*color: transparent;*/
    background: url(//img3.doubanio.com/dae/accounts/resources/d3e2921/movie/assets/nav_mv_bg.png?s=1) no-repeat 0 -40px;
    background-image: url(//img3.doubanio.com/dae/accounts/resources/d3e2921/movie/assets/nav_mv_bg.png?s=1);
    background-position-x: 0px;
    background-position-y: -40px;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

/*.cover-wp img {
    width: 135px;
}*/

/*.label {
    height: 60px;
    width: 40px;
}*/

img {
    width: 100%;
}

.comment-item {
    position: relative;
    overflow: hidden;
    padding: 14px 0;
}

.comment-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.comment {
    overflow: hidden;
    line-height: 1.5;
    color: #494949;
}

.comment-info {
    margin-bottom: 5px;
    color: #494949;
    line-height: 1.7em;
    font-size: 13px;
}

.comment-time {
    margin-left: 5px;
    color: #aaa;
}

.comment-content {
    font-size: 13px;
}

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
}

/*.carimg {*/
/*    !*max-width: 100%;*!*/
/*}*/

.el-carousel__item:nth-child(4n) {
        background-image: url('../image/movie1.jpg');
}
.el-carousel__item:nth-child(4n+1) {
        background-image: url('../image/movie2.jpg');
}
.el-carousel__item:nth-child(4n+2) {
        background-image: url('../image/movie3.jpg');
}
.el-carousel__item:nth-child(4n+3) {
        background-image: url('../image/movie4.jpg');
}

.block {
    display:inline-block;
    width: 400px;
    /*height: 580px;*/
}

.indexinfo {
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    vertical-align: top;
    /*height: 580px;*/
}

.wholeblock {
    /*overflow: hidden;*/
}

/*.middle {
    max-width: 1400px;
    margin: 0 auto;
}*/
